<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>EmojiIM_Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.textinputmethod-services</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 mzp. All rights reserved.</string>
	<key>TISInputSourceID</key>
	<string>jp.mzp.inputmethod.EmojiIM</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>InputMethodIcon.tiff</string>
	<key>InputMethodConnectionName</key>
	<string>jp_mzp_inputmethod_emojiim</string>
	<key>InputMethodServerControllerClass</key>
	<string>EmojiInputController</string>
	<key>IMKExtensionMainInitClass</key>
	<string>EmojiInputMainThreadInit</string>
</dict>
</plist>
