<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>EmojiIM_Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.textinputmethod-services</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 mzp. All rights reserved.</string>
	<key>TISInputSourceID</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>InputMethodIcon.tiff</string>
	<key>InputMethodConnectionName</key>
	<string>jp_mzp_inputmethod_emojiim</string>
	<key>InputMethodServerControllerClass</key>
	<string>EmojiInputController</string>
	<key>IMKExtensionDelegateClass</key>
	<string>EmojiIMExtensionDelegate</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>あ</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>jp.mzp.inputmethod.EmojiIM.code</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>TISParticipatesInTouchBar</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>InputMethodIcon.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
		</array>
	</dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
